# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtuella miljöer
env/
venv/
.venv/

# Lokala databaser, dokument och configs
data/
chroma_db/
docker/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Tester
.pytest_cache/

# NixOS
result
.direnv/
